
body {
    margin: 0;
    font-family: 'Garamond';
    background-color: #f5e4e1;
}
.header {
    background-color: #f5e4e1;
    padding: 20px 0;
}
.nav {
    padding-left: 270px ;
}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;   
}
.nav .btn {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
.nav .btn.black {
    background-color: #000;
    color: #fff;
}
.nav .btn:hover {
    border-color: #000;
    transform: scale(1.05);
}






.search-container {
    display: flex;
    justify-content: center; 
    margin: 20px 0; 
}
.search-input {
    padding: 10px; 
    border: 2px solid  #f4c2c2; 
    border-radius: 20px; 
    width: 40%; 
    font-size: 1em;
}


.search-input:active {
    border-color: #f48989;
}


.search-button {
    padding: 10px 15px; 
    background-color:  #f4c2c2; 
    border: none; 
    border-radius: 20px; 
    color: #000; 
    cursor: pointer; 
    margin-left: 10px; 
}
.highlight {
    background-color:#f48989; 
}





.shopping {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.shopping-card {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #f4c2c2; 
    border-radius: 20px; 
    flex: 1 1 calc(30% - 20px);
    box-sizing: border-box;
}

.shopping-card h2 {
    font-family: 'Garamond';
    font-size: 20px;
    color:#454040;
}
.shopping-card p {
    font-family: 'Garamond';
    font-size: 15px;
    color:#585454;
}

.shopping-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.flow-image {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: #ddd;
    margin: 0 auto;
    overflow: hidden;
}

.flow-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.flow-image:hover img {
    transform: scale(1.08);
}














